<a href="https://colab.research.google.com/github/trinexus2002/CD_databits/blob/main/Cientifico_de_Datos_AChehab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Clase 20220927**
### *Prueba 1*
#### Verifica si un numero es par o impar

In [5]:
numero = float(input("Favor ingrese un numero"))
if numero % 2 == 0:
  print("El numero ", numero," es par")
else:
  print("El numero ", numero, " es impar")

Favor ingrese un numero3.2
El numero  3.2  es impar

Ejercicio 1
1.   Imprimir el tipo de dato que es x
2.   Verificar que el valor sea mayor igual a 0 y menor igual a 10
3.   Evaluar si x es diferente a 4
4.   Dividir x para el valor de 2 (obtener el cociente)

In [9]:
# Definir variable
x = 8

#Mostrar tipo dato
print(type(x)) 

# Evalua si mayor igual a 0 y menor igual 10
if x >= 0 and x <= 10:
  print("El numero esta entre 0 y 10")
else:
  print("El numero no esta entre 0 y 10")

# x es diferente de 4?
if x != 4:
  print("X es diferente de 4") 

# Divide x para 2
cociente = x / 2
cociente

<class 'int'>
True
No es igual a 4

4.0

No puede realizar una conversion directa de str con formato de float a INT, toca hacer conversion a float y luego a int.


```
# This is formatted as code
int("4.0") # Error
int(float("4.0")) # Ok
```

## Clase 20220928

Diccionarios
metodos get devuelve el valor
pop devuelve el valor y lo quita
reasignar un valor por asignacion o se puede usar update.

In [8]:
# Creacion de dictionario
marca_transmision = {"Mazda":"manual", "Kia":"automatica", "Honda":"manual"}
print(marca_transmision)
# Agregar Toyota
marca_transmision["Toyota"] ="manual"
print(marca_transmision)
# Eliminar Kia con Pop
marca_transmision.pop("Kia")
print(marca_transmision)
# Actualizar valor mediante update
marca_transmision.update({"Mazda":400})
marca_transmision

{'Mazda': 'manual', 'Kia': 'automatica', 'Honda': 'manual'}
{'Mazda': 'manual', 'Kia': 'automatica', 'Honda': 'manual', 'Toyota': 'manual'}
{'Mazda': 'manual', 'Honda': 'manual', 'Toyota': 'manual'}

{'Mazda': 400, 'Honda': 'manual', 'Toyota': 'manual'}